<div class="panel panel-default">
  <div class="panel-heading" id='image_box2'>
    <div class="panel-title">
      <h1>New Pin</h1>
    </div>
  </div>
  <div class='panel-body' id='image_box'>
    <%= render 'form', pin: @pin %>
  </div>
  <div class="panel-footer" id='image_box2'>
    <%= link_to 'Back', pins_path %>
  </div>
</div>
