<div class="jumbotron center">
  <h1>Welcome to my app!</h1>
  <% if user_signed_in? %>
    #do something
  <% else %>
    <iframe src="https://player.vimeo.com/video/46106624" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    <p>
      <%= link_to "Log In", new_user_session_path, class: "btn btn-default btn-lg" %>
      <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-default btn-primary btn-lg" %>
    </p>
  <% end %>
</div>
